<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
        <title>Donation website &mdash; Website Donation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Free-Template.co" />
        <link rel="shortcut icon" href="ftco-32x32.png">
        
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/custom-bs.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/jquery.fancybox.min.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/bootstrap-select.min.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/fonts/icomoon/style.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/fonts/line-icons/style.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/animate.min.css}">
      
        <!-- MAIN CSS -->
        <link rel="stylesheet" th:href="@{/resources/static/user/assets/css/style.css}">
        
        <script th:src="@{/resources/static/user/assets/js/jquery.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/isotope.pkgd.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/stickyfill.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/jquery.fancybox.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/jquery.easing.1.3.js}"></script>
    
        <script th:src="@{/resources/static/user/assets/js/jquery.waypoints.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/jquery.animateNumber.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/owl.carousel.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/bootstrap-select.min.js}"></script>
        <script th:src="@{/resources/static/user/assets/js/custom.js}"></script>
    
        <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
      
    </head>
<body>
<a th:href="@{/user/login}">Đăng nhập</a>
</body>
</html>























